<mat-card class="mt20">
  <div class="container">
   <div class="row">
     <div class="col-md-12">
       <mat-card-header>
         <mat-card-title>
           Bienvenido Docente o Desarrollador( de ser lo segundo recuerda usar el nvm, Dios te libre de equivocarte)
         </mat-card-title>
       </mat-card-header>
       <mat-card-subtitle>Panel de administracion</mat-card-subtitle>
       <mat-card-content class="ml30">
         <h1></h1>
         <p></p>
         <mat-divider></mat-divider>
         <br>
         <h1>Intrucciones generales : </h1>
         <ul>
           <li>Para eliminar algun item por ejemplo una categoria, debes primero asegurarte de que no hay cursos que esten atribuidos a esa categoria</li>
           <p>de lo contrario no podras eliminarlo y te saldra un mensaje negativo.</p>
         </ul>
         <mat-divider></mat-divider>
         <br>
         <mat-divider></mat-divider>
         <br>
         <h1>Carta de avisos : </h1>
         <ul>
          <li><b>Correciones:</b></li>
          <li>Solo quedan algunas cosas mas por corregir en los descriptores, cada opcion por cada curso funciona 3/4 bien.</li>

        </ul>
         <ul>
           <li><b>Ultimos dias de version Alfa del sistema:</b></li>
           <li>Tras varias semanas este sistema a podido progresar bien, se solucionaron el 99% de los errores y puede funcionar como se le nescesita</li>
           <p>pero aun le queda un largo camino por recorrer y espero puedan o podamos llevarlo a su maximo potencial.</p>
           <p>-EEIJ</p>
         </ul>
         <mat-divider></mat-divider>
         <br>
       </mat-card-content>
     </div>
   </div>
  </div>
</mat-card>
