
<div class="bootstrap-wrapper">
  <div class="row mt20">
    <div class="col-md-12">

      <h1>Agregar tema a <span style="font-weight: bold;">{{ titulo }}</span></h1>
      <button mat-raised-button color="warn" mat-button (click)="openDialog()">Instrucciones</button>
      <mat-card >
        <mat-card-header>
          <mat-card-subtitle>
            Digite los detalles del nuevo tema
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="mt20" (submit) = "formSubmit()">
            <mat-form-field class="w100">
              <mat-label>Nombre</mat-label>
              <input
              required
              autofocus
              type="text"
              name="titulo"
              matInput
              placeholder="Digite el título de la categoría"
              [(ngModel)] = "tema.nombre">
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Modalidad</mat-label>
              <input
              required
              autofocus
              type="text"
              name="modalidad"
              matInput
              placeholder="Digite la modalidad"
              [(ngModel)] = "tema.modalidad">
            </mat-form-field>

            <mat-form-field class="w100">
              <mat-label>Escriba el contenido del tema</mat-label>
              <textarea rows="8" matInput placeholder="Escribe aquí" name="contenido" [(ngModel)] = "tema.contenido"></textarea>
            </mat-form-field>

            <mat-card-subtitle>
              Subtemas:
            </mat-card-subtitle>
            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label>Digite el subtema 1</mat-label>
                  <input
                  type="text"
                  matInput
                  name="subtema1"
                  [(ngModel)] = "tema.subtema1">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label>Digite el subtema 2</mat-label>
                  <input
                  type="text"
                  matInput
                  name="subtema2"
                  [(ngModel)] = "tema.subtema2">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label>Digite el subtema 3</mat-label>
                  <input
                  type="text"
                  matInput
                  name="subtema3"
                  [(ngModel)] = "tema.subtema3">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100">
                  <mat-label>Digite el subtema 4</mat-label>
                  <input
                  type="text"
                  matInput
                  name="subtema4"
                  [(ngModel)] = "tema.subtema4">
                </mat-form-field>
              </div>
            </div>
            <div class="container text-center">
              <button mat-raised-button color="primary">Guardar</button>
            </div>
            <div class="container">
              <button mat-raised-button color="primary" onclick="window.history.back();">Volver atrás</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
